# built output folder
/build/
/built/
/dist/

# test output folders
**/.tsc-output/
**/out-tsc/

# dependencies
node_modules/

# IDEs and editors
.settings/
.idea/
.vscode/launch.json
.vscode/settings.json
.c9
.vimrc
.nvimrc
.editorconfig
**/.nyc_output/
**/.tsc-output/

#System Files
.DS_Store

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

**/coverage/

# temp folders for junk
**/temp/
**/old/
